<a href="https://colab.research.google.com/github/Cann-Emma/R/blob/main/Dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA WRANGLING WITH DPLYR

Summary: Renaming and adding variables; filtering,summarising, and joining datasets; creating frequency tables.

In [4]:
TB= read.csv('who_dataset.csv')
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [5]:
glimpse(TB)

Rows: 76,046
Columns: 6
$ country <chr> "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", "A…
$ year    <int> 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 19…
$ var     <chr> "sp", "sp", "sp", "sp", "sp", "sp", "sp", "sp", "sp", "sp", "s…
$ sex     <chr> "m", "m", "m", "m", "m", "m", "m", "f", "f", "f", "f", "f", "f…
$ age     <int> 14, 1524, 2534, 3544, 4554, 5564, 65, 14, 1524, 2534, 3544, 45…
$ cases   <int> 0, 10, 6, 3, 5, 2, 0, 5, 38, 36, 14, 8, 0, 1, 30, 129, 128, 90…

In [7]:
TB1= TB%>%rename('age_group'= 'age', 'tb_type'= 'var')
glimpse(TB1)

Rows: 76,046
Columns: 6
$ country   <chr> "Afghanistan", "Afghanistan", "Afghanistan", "Afghanistan", …
$ year      <int> 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, 1997, …
$ tb_type   <chr> "sp", "sp", "sp", "sp", "sp", "sp", "sp", "sp", "sp", "sp", …
$ sex       <chr> "m", "m", "m", "m", "m", "m", "m", "f", "f", "f", "f", "f", …
$ age_group <int> 14, 1524, 2534, 3544, 4554, 5564, 65, 14, 1524, 2534, 3544, …
$ cases     <int> 0, 10, 6, 3, 5, 2, 0, 5, 38, 36, 14, 8, 0, 1, 30, 129, 128, …

In [9]:
TB1$tb_type%>%table()

.
   ep   rel    sn    sp
14304  2580 14342 44820

In [13]:
TB1%>%select(sex, tb_type)%>%table()

   tb_type
sex    ep   rel    sn    sp
  f  7143  1290  7152 22363
  m  7161  1290  7190 22457

In [24]:
TB_US= TB1%>%filter(year==2013 & country=='United States of America')%>%arrange(-cases)
head(TB_US)

  country                  year tb_type sex age_group cases
1 United States of America 2013 rel     m     65      1259
2 United States of America 2013 rel     m   4554       937
3 United States of America 2013 rel     m   5564       926
4 United States of America 2013 rel     m   2534       829
5 United States of America 2013 rel     m   3544       793
6 United States of America 2013 rel     f     65       786

In [26]:
TB_GH= TB1%>%filter(country=='Ghana' & year== 2013)
TB_GH%>%group_by(sex)%>%summarise(Sum= sum(cases))

  sex Sum
1 f   5305
2 m   9738

In [20]:
TB_GH

   country year tb_type sex age_group cases
1  Ghana   2013 rel     m     14       420
2  Ghana   2013 rel     m   1524       937
3  Ghana   2013 rel     m   2534      1871
4  Ghana   2013 rel     m   3544      2401
5  Ghana   2013 rel     m   4554      1901
6  Ghana   2013 rel     m   5564      1128
7  Ghana   2013 rel     m     65      1080
8  Ghana   2013 rel     f     14       363
9  Ghana   2013 rel     f   1524       753
10 Ghana   2013 rel     f   2534      1170
11 Ghana   2013 rel     f   3544      1089
12 Ghana   2013 rel     f   4554       793
13 Ghana   2013 rel     f   5564       463
14 Ghana   2013 rel     f     65       674

In [28]:
library(ggplot2)
glimpse(diamonds)

Rows: 53,940
Columns: 10
$ carat   <dbl> 0.23, 0.21, 0.23, 0.29, 0.31, 0.24, 0.24, 0.26, 0.22, 0.23, 0.…
$ cut     <ord> Ideal, Premium, Good, Premium, Good, Very Good, Very Good, Ver…
$ color   <ord> E, E, E, I, J, J, I, H, E, H, J, J, F, J, E, E, I, J, J, J, I,…
$ clarity <ord> SI2, SI1, VS1, VS2, SI2, VVS2, VVS1, SI1, VS2, VS1, SI1, VS1, …
$ depth   <dbl> 61.5, 59.8, 56.9, 62.4, 63.3, 62.8, 62.3, 61.9, 65.1, 59.4, 64…
$ table   <dbl> 55, 61, 65, 58, 58, 57, 57, 55, 61, 61, 55, 56, 61, 54, 62, 58…
$ price   <int> 326, 326, 327, 334, 335, 336, 336, 337, 337, 338, 339, 340, 34…
$ x       <dbl> 3.95, 3.89, 4.05, 4.20, 4.34, 3.94, 3.95, 4.07, 3.87, 4.00, 4.…
$ y       <dbl> 3.98, 3.84, 4.07, 4.23, 4.35, 3.96, 3.98, 4.11, 3.78, 4.05, 4.…
$ z       <dbl> 2.43, 2.31, 2.31, 2.63, 2.75, 2.48, 2.47, 2.53, 2.49, 2.39, 2.…

In [30]:
diamonds%>%select(cut)%>%table()
diamonds%>%select(cut, color)%>%table()

cut
     Fair      Good Very Good   Premium     Ideal
     1610      4906     12082     13791     21551

           color
cut            D    E    F    G    H    I    J
  Fair       163  224  312  314  303  175  119
  Good       662  933  909  871  702  522  307
  Very Good 1513 2400 2164 2299 1824 1204  678
  Premium   1603 2337 2331 2924 2360 1428  808
  Ideal     2834 3903 3826 4884 3115 2093  896

In [33]:
diamonds%>%filter(cut=='Ideal')%>%summarise(Avg_carat_idealCut= mean(carat))

  Avg_carat_idealCut
1 0.702837

In [35]:
aggregate(diamonds$price, list(diamonds$cut),mean)

  Group.1   x
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [36]:
diamonds%>%group_by(cut)%>%summarise(Avg_price= mean(price))

  cut       Avg_price
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [38]:
Diamonds1= diamonds%>%mutate(Area= x*y*z)
glimpse(Diamonds1)

Rows: 53,940
Columns: 11
$ carat   <dbl> 0.23, 0.21, 0.23, 0.29, 0.31, 0.24, 0.24, 0.26, 0.22, 0.23, 0.…
$ cut     <ord> Ideal, Premium, Good, Premium, Good, Very Good, Very Good, Ver…
$ color   <ord> E, E, E, I, J, J, I, H, E, H, J, J, F, J, E, E, I, J, J, J, I,…
$ clarity <ord> SI2, SI1, VS1, VS2, SI2, VVS2, VVS1, SI1, VS2, VS1, SI1, VS1, …
$ depth   <dbl> 61.5, 59.8, 56.9, 62.4, 63.3, 62.8, 62.3, 61.9, 65.1, 59.4, 64…
$ table   <dbl> 55, 61, 65, 58, 58, 57, 57, 55, 61, 61, 55, 56, 61, 54, 62, 58…
$ price   <int> 326, 326, 327, 334, 335, 336, 336, 337, 337, 338, 339, 340, 34…
$ x       <dbl> 3.95, 3.89, 4.05, 4.20, 4.34, 3.94, 3.95, 4.07, 3.87, 4.00, 4.…
$ y       <dbl> 3.98, 3.84, 4.07, 4.23, 4.35, 3.96, 3.98, 4.11, 3.78, 4.05, 4.…
$ z       <dbl> 2.43, 2.31, 2.31, 2.63, 2.75, 2.48, 2.47, 2.53, 2.49, 2.39, 2.…
$ Area    <dbl> 38.20203, 34.50586, 38.07688, 46.72458, 51.91725, 38.69395, 38…

In [65]:
install.packages('nycflights13')
library(nycflights13)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [44]:
head(weather)

  origin year month day hour temp  dewp  humid wind_dir wind_speed wind_gust
1 EWR    2013 1     1   1    39.02 26.06 59.37 270      10.35702   NA
2 EWR    2013 1     1   2    39.02 26.96 61.63 250       8.05546   NA
3 EWR    2013 1     1   3    39.02 28.04 64.43 240      11.50780   NA
4 EWR    2013 1     1   4    39.92 28.04 62.21 250      12.65858   NA
5 EWR    2013 1     1   5    39.02 28.04 64.43 260      12.65858   NA
6 EWR    2013 1     1   6    37.94 28.04 67.21 240      11.50780   NA
  precip pressure visib time_hour
1 0      1012.0   10    2013-01-01 01:00:00
2 0      1012.3   10    2013-01-01 02:00:00
3 0      1012.5   10    2013-01-01 03:00:00
4 0      1012.2   10    2013-01-01 04:00:00
5 0      1011.9   10    2013-01-01 05:00:00
6 0      1012.4   10    2013-01-01 06:00:00

In [50]:
weather%>%group_by(month)%>%summarise(Avg_temp= round(mean(temp, na.rm=T),2), datapoints= n())

   month Avg_temp datapoints
1   1    35.64    2226
2   2    34.27    2010
3   3    39.88    2227
4   4    51.75    2159
5   5    61.80    2232
6   6    72.18    2160
7   7    80.07    2228
8   8    74.47    2217
9   9    67.37    2159
10 10    60.07    2212
11 11    44.99    2141
12 12    38.44    2144

In [59]:
weather2= weather%>%mutate(temp_in_C= 5/9 * (temp-32))
glimpse(weather2)

Rows: 26,115
Columns: 16
$ origin     <chr> "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EW…
$ year       <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013,…
$ month      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ day        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ hour       <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, …
$ temp       <dbl> 39.02, 39.02, 39.02, 39.92, 39.02, 37.94, 39.02, 39.92, 39.…
$ dewp       <dbl> 26.06, 26.96, 28.04, 28.04, 28.04, 28.04, 28.04, 28.04, 28.…
$ humid      <dbl> 59.37, 61.63, 64.43, 62.21, 64.43, 67.21, 64.43, 62.21, 62.…
$ wind_dir   <dbl> 270, 250, 240, 250, 260, 240, 240, 250, 260, 260, 260, 330,…
$ wind_speed <dbl> 10.35702, 8.05546, 11.50780, 12.65858, 12.65858, 11.50780, …
$ wind_gust  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 20.…
$ precip     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ pressure   <dbl> 1012.0, 1012.3, 1012.5, 1012.2, 1011.9, 1012.4, 1012.2, 101…
$ visib      <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,…
$ time_hour  <dttm> 2013-01-01 01:00:00, 2013-01-01 02:00:00, 2013-01-01 03:00…
$ temp_in_C  <dbl> 3.9, 3.9, 3.9, 4.4, 3.9, 3.3, 3.9, 4.4, 4.4, 5.0, 5.0, 4.0,…

In [61]:
head(nycflights13::flights, 2)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00

In [62]:
head(nycflights13::airlines,2)

  carrier name
1 9E      Endeavor Air Inc.
2 AA      American Airlines Inc.

In [75]:
flights%>%full_join(airlines, by= 'carrier')%>%group_by(carrier)%>%summarise(Avg_delay= round(mean(dep_delay, na.rm=T),1))%>%arrange(-Avg_delay)%>%full_join(airlines, by= 'carrier')

   carrier Avg_delay name
1  F9      20.2      Frontier Airlines Inc.
2  EV      20.0      ExpressJet Airlines Inc.
3  YV      19.0      Mesa Airlines Inc.
4  FL      18.7      AirTran Airways Corporation
5  WN      17.7      Southwest Airlines Co.
6  9E      16.7      Endeavor Air Inc.
7  B6      13.0      JetBlue Airways
8  VX      12.9      Virgin America
9  OO      12.6      SkyWest Airlines Inc.
10 UA      12.1      United Air Lines Inc.
11 MQ      10.6      Envoy Air
12 DL       9.3      Delta Air Lines Inc.
13 AA       8.6      American Airlines Inc.
14 AS       5.8      Alaska Airlines Inc.
15 HA       4.9      Hawaiian Airlines Inc.
16 US       3.8      US Airways Inc.