<a href="https://colab.research.google.com/github/Cann-Emma/R/blob/main/Importing_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTING AND EXPORTING DATASETS

In [3]:
# Importing nba dataset
nba= read.csv('nba.csv')

In [9]:
# Creating a frequency table and finding maximums
table(nba$TEAM)
max(nba$PTS)

ATL BKN BOS CHA CHI CLE DAL DEN DET GSW HOU IND LAC LAL MEM MIA MIL MIN NOP NYK
 82  82  82  82  82  82  82  82  82  82  82  82  82  82  82  82  82  82  82  82
OKC ORL PHI PHX POR SAC SAS TOR UTA WAS
 82  82  82  82  82  82  82  82  82  82

[1] 149

In [10]:
# Packages in R
install.packages('nycflights13')
library(nycflights13)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [15]:
# Finding the type/class of a variable, removing null values
class(nycflights13::flights$dep_delay)
round(mean(flights$dep_delay, na.rm = TRUE), 2)

[1] "numeric"

[1] 12.64

In [16]:
# Contigency Table
table(flights$origin, flights$carrier)

         9E    AA    AS    B6    DL    EV    F9    FL    HA    MQ    OO    UA
  EWR  1268  3487   714  6557  4342 43939     0     0     0  2276     6 46087
  JFK 14651 13783     0 42076 20701  1408     0     0   342  7193     0  4534
  LGA  2541 15459     0  6002 23067  8826   685  3260     0 16928    26  8044

         US    VX    WN    YV
  EWR  4405  1566  6188     0
  JFK  2995  3596     0     0
  LGA 13136     0  6087   601

# REPETITIONS AND SEQUENCES

In [17]:
rep('Q1', 4)

[1] "Q1" "Q1" "Q1" "Q1"

In [24]:
rep(c(2010, 2011, 2012, 2013, 2014, 2015, 2017), c(4,4,4,4,4,4,4))

 [1] 2010 2010 2010 2010 2011 2011 2011 2011 2012 2012 2012 2012 2013 2013 2013
[16] 2013 2014 2014 2014 2014 2015 2015 2015 2015 2017 2017 2017 2017

In [25]:
rep(c(2016, 2017), c(4,3))

[1] 2016 2016 2016 2016 2017 2017 2017

In [19]:
seq(50,100, by= 2.5)

 [1]  50.0  52.5  55.0  57.5  60.0  62.5  65.0  67.5  70.0  72.5  75.0  77.5
[13]  80.0  82.5  85.0  87.5  90.0  92.5  95.0  97.5 100.0

In [27]:
seq(1295, 1290, by= -1)

[1] 1295 1294 1293 1292 1291 1290