<a href="https://colab.research.google.com/github/Cann-Emma/R/blob/main/Intro_to_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ARITHMETIC

In [3]:
# Basic Arithmetic
((9)*(3+5)**3)/(sqrt(10))

[1] 1457.178

In [4]:
# Declaring variables
a= 5
b= -2
c= 0.5
(a*c*b**2)/abs(b)

[1] 5

In [9]:
# Finding average
Class_grade= sum(c(94.3, 86.1, 90, 88.5))
Avg= Class_grade/4
Avg

[1] 89.725

# LOADING PACKAGES

In [12]:
# Installing and Loading a Package
install.packages('ISLR')
library(ISLR)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [14]:
head(Credit)

  ID Income  Limit Rating Cards Age Education Gender Student Married Ethnicity
1 1   14.891 3606  283    2     34  11         Male  No      Yes     Caucasian
2 2  106.025 6645  483    3     82  15        Female Yes     Yes     Asian
3 3  104.593 7075  514    4     71  11         Male  No      No      Asian
4 4  148.924 9504  681    3     36  11        Female No      No      Asian
5 5   55.882 4897  357    2     68  16         Male  No      Yes     Caucasian
6 6   80.180 8047  569    4     77  10         Male  No      No      Caucasian
  Balance
1  333
2  903
3  580
4  964
5  331
6 1151

In [15]:
table(Credit$Married)

 No Yes
155 245

In [17]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [19]:
summary(mtcars$mpg)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.40   15.43   19.20   20.09   22.80   33.90