<a href="https://colab.research.google.com/github/Cann-Emma/R/blob/main/Traditional_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TRADITIONAL WRANGLING
Data Description

*   Age: Age in years.

*   Sex : Coded M for males and F for females.

*   Own.Home: H = Yes; U = No or unknown.

*   Children: Counts of number of children.
*   Other.Gifts: Counts of other gifts donated.


*   Income. Income levels of donors: 1= Lowest, 7=Highest


*   Time.Between.Gifts: Time between gifts, in months


*   Smallest.Gift, Largest.Gift, Current.Gift. All in dollars

In [7]:
PVA= read.csv('PVA (1).csv')

In [20]:
# Adding a new column
PVA_dat= PVA
PVA_dat$diff.in.gifts= PVA_dat$Largest.Gift-PVA_dat$Smallest.Gift
head(PVA_dat)

  Age Own.Home Sex Children Income Smallest.Gift Largest.Gift Current.Gift
1 64  H        F   0        1       3            300          200
2 91  U        M   0        1      25             50          200
3 82  H        M   0        5       2            250          200
4 61  H        F   0        1      20             25          200
5 71  U        M   0        5      25             25          150
6 90  U        F   0        1       5            133          102
  Other.Gifts Time.Between.Gifts diff.in.gifts
1  0           3                 297
2  1          13                  25
3 42           6                 248
4  0           5                   5
5  2           5                   0
6  0           5                 128

In [22]:
# Renaming
names(PVA_dat)[c(5, 8)]= c('income_level', 'current_gift')
head(PVA_dat)

  Age Own.Home Sex Children income_level Smallest.Gift Largest.Gift
1 64  H        F   0        1             3            300
2 91  U        M   0        1            25             50
3 82  H        M   0        5             2            250
4 61  H        F   0        1            20             25
5 71  U        M   0        5            25             25
6 90  U        F   0        1             5            133
  current_gift Other.Gifts Time.Between.Gifts diff.in.gifts
1 200           0           3                 297
2 200           1          13                  25
3 200          42           6                 248
4 200           0           5                   5
5 150           2           5                   0
6 102           0           5                 128

In [24]:
# Selecting and Removing COlumns
PVA2= PVA_dat[c(1:2, 4:8, 10:11)]
head(PVA2)

  Age Own.Home Children income_level Smallest.Gift Largest.Gift current_gift
1 64  H        0        1             3            300          200
2 91  U        0        1            25             50          200
3 82  H        0        5             2            250          200
4 61  H        0        1            20             25          200
5 71  U        0        5            25             25          150
6 90  U        0        1             5            133          102
  Time.Between.Gifts diff.in.gifts
1  3                 297
2 13                  25
3  6                 248
4  5                   5
5  5                   0
6  5                 128

In [32]:
# Filtering Values in Columns
PVA3= PVA2[which(PVA2$Age<=60 & PVA2$income_level >= 5),]
head(PVA3)

   Age Own.Home Children income_level Smallest.Gift Largest.Gift current_gift
8  38  U        0        7             50            50          100
9  43  H        0        6            200           200          100
21 48  H        0        6             25           200          100
27 56  H        0        7             25           100          100
36 60  H        0        7             10           100           75
39 46  H        0        5              2            45           60
   Time.Between.Gifts diff.in.gifts
8   9                   0
9  10                   0
21  6                 175
27  0                  75
36  0                  90
39  3                  43

In [33]:
PVA2[which(PVA2$current_gift>50 & PVA2$Time.Between.Gifts>1),]

   Age Own.Home Children income_level Smallest.Gift Largest.Gift current_gift
1  64  H        0        1              3           300          200
2  91  U        0        1             25            50          200
3  82  H        0        5              2           250          200
4  61  H        0        1             20            25          200
5  71  U        0        5             25            25          150
6  90  U        0        1              5           133          102
7  57  H        0        1             25           100          101
8  38  U        0        7             50            50          100
9  43  H        0        6            200           200          100
10 79  U        0        1             10            50          100
11 81  H        0        6              5           100          100
12 50  H        0        1             10           100          100
13 73  H        0        4              2           100          100
14 48  U        0        2             20           100          100
15 83  U        0        5             10            16          100
16 90  U        0        1              5            75          100
17 42  U        0        3             20            32          100
18 61  U        0        1              3           100          100
19 69  H        0        7              5            30          100
20 61  U        0        1             50            50          100
21 48  H        0        6             25           200          100
22 62  H        0        1             25            30          100
23 82  U        0        2             15           200          100
24 66  H        0        5             43            50          100
25 74  H        0        2              5           100          100
26 62  H        0        5              3            25          100
28 54  H        0        4             25            25          100
29 71  U        0        5              4            10          100
30 68  U        0        5             50            50           75
31 49  U        0        1              5            70           75
32 82  U        0        6              5            50           75
34 68  H        0        6             25           200           75
35 74  H        0        7              5            50           75
37 69  H        0        6              5            50           60
38 60  H        0        1             10            50           60
39 46  H        0        5              2            45           60
40 47  H        0        6             25            40           55
41 64  U        0        2             10            58           53
42 79  H        0        7              3            60           53
43 69  H        0        4             15            36           51
44 68  H        0        1              5            15           51
45 50  H        0        4             25            36           51
   Time.Between.Gifts diff.in.gifts
1   3                 297
2  13                  25
3   6                 248
4   5                   5
5   5                   0
6   5                 128
7   3                  75
8   9                   0
9  10                   0
10 13                  40
11 10                  95
12  7                  90
13 12                  98
14 18                  80
15 24                   6
16  3                  70
17  8                  12
18 21                  97
19  7                  25
20  7                   0
21  6                 175
22  6                   5
23 14                 185
24 10                   7
25 10                  95
26  3                  22
28 11                   0
29 13                   6
30  2                   0
31  7                  65
32 10                  45
34  3                 175
35  7                  45
37  5                  45
38  5                  40
39  3                  43
40 11                  15
41  7                  48
42  8                  57
43  3                  21
44 22                  10
45  8                  11

In [38]:
# Using the apply and aggregate functions
apply(PVA2[,c(5,6,7)],2, max)
aggregate.data.frame(PVA2$current_gift,list(PVA2$income_level), median)

Smallest.Gift  Largest.Gift  current_gift
          450          1000           200

  Group.1 x
1 1        7
2 2        5
3 3        6
4 4        9
5 5       10
6 6       10
7 7       10